
<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Accounts </h4>
              





                
            </div>
            <div class="container">
                <section >
                    
                  <div class="card panels-card">
                    <div class="rounded-top" style="background-color: #e0e0e0;">
                      <ul class="list-inline float-end my-0 py-1 pe-3">
                        <li class="list-inline-item">
                          <i class="fab fa-facebook" aria-hidden="true"></i>
                        </li>
                        <li class="list-inline-item">
                          <i class="fab fa-twitter" aria-hidden="true"></i>
                        </li>
                        <li class="list-inline-item">
                          <i class="fab fa-instagram" aria-hidden="true"></i>
                        </li>
                      </ul>
                    </div>
           
                    <div class="card-body rounded-bottom text-dark" style="background-color: #fafafa;">
                      <div class="row">
                        <div class="col-6 ">
                          <div class="card" style="background-color: #e0e0e0;">
                           
                            
                            <div class="card-body pt-0">
                              <h3 class="font-weight-bold mb-1">Salary</h3>
                            </div>
                          </div>
                        </div>
                        <div class="col-6 ">
                          <div class="card" style="background-color: #ffcc80;">
                           
                            <div class="card-body pt-0">
                              <h3 class="font-weight-bold mb-1">Pharmacy Settlements</h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-6 ">
                          <div class="card" style="background-color: #9fa8da;">
                          
                            <div class="card-body pt-0">
                              <h3 class="font-weight-bold mb-1">Maintenance</h3>
                            </div>
                          </div>
                        </div>
                        <div class="col-6 ">
                          <div class="card" style="background-color: #e0e0e0;">
                           
                            <div class="card-body pt-0">
                              <h3 class="font-weight-bold mb-1">Billing</h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-6 ">
                          <div class="card" style="background-color: #ffcc80;">
                           
                            <div class="card-body pt-0">
                              <h3 class="font-weight-bold mb-1">Insurance</h3>
                            </div>
                          </div>
                        </div>
            
                      </div>
                      <div class="row">
                        <div class="col-6 ">
                          <div class="card" style="background-color: #ffcc80;">
                           
                            <div class="card-body pt-0">
                              <h3 class="font-weight-bold mb-1">Patient Reports</h3>
                            </div>
                          </div>
                        </div>
                  
                      </div>
                    </div>
                  </div>
                  
                </section>
              </div>
    </div>
  </div>
  